apiVersion: v1
kind: Service
metadata:
  name: argocd-server-nodeport
  namespace: argocd
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 31000  # Choose a nodePort in the range 30000-32767
  selector:
    app.kubernetes.io/name: argocd-server

